body {
    background-color: #0097DB;
    font-family: Noto Sans JP;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.logo_section{
    text-align: center;
}

.logo_image{
    width:  50%;
    margin-bottom: 1.5em;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.start{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }

  .btn,
  a.btn,
  button.btn {
    color:#ffffff;
    background-color: #FF9900;
    border-bottom: 5px solid #C56A00;
    width: auto;
    height:  100%;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.btn:active {
  box-shadow: none;
  transform: translateY(5px);
}


/* ここから2ページ目 */
.quiestion{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contents{
    margin-right: auto;
    margin-left: auto;
}

.choices-btn{
    width: 40%
}