body {
    background-color: #0097DB;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.logo_section{
    text-align: center;
}

.logo_image{
    width:  80%;
}

.start{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 1.5em;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }

  .btn,
  a.btn,
  button.btn {
    font-family: Noto Sans JP;
    color:#ffffff;
    background-color: #FF9900;
    border-bottom: 5px solid #C56A00;
    width: 15%;
    height:  100%;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    /* display: inline-block;　これを入れるとボタンの文字列がスマホの時に縦になる */
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
}

a.btn--red.btn--cubic {
    border-bottom: 8px solid #C56A00;
    text-align: center;
  }
  
  a.btn--red.btn--cubic:hover {
    margin-top: 2px;
    border-bottom: 5px solid #C56A00;
  }
  
  a.btn--radius {
    border-radius: 20px;
  }
  
  .fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
  }


/* ここから2ページ目 */
.quiestion{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contents{
    margin-right: auto;
    margin-left: auto;
}

.choices-btn{
    width: 40%
}