$bg_color:#0097DB;
$btn_color:#FF9F2E;
$white:#fff;
$btn_shadow: 0px 5px 0px #C56A00;
$question_text:#fff,20px;
$progress_bg:#007DB5;
$btn_gray: #DADADA;
$score:#FFDE2E;
$black:#222;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
) !default;

// 初期に書いていたもの
#progress{
  display: none;
}

#quiestion {
  display: none;
}

#result {
  display: none;
}

#end-result {
  display: none;
}

// ここからスタイルの記述
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100vh;
  justify-content: center;
  background-image:url(../image/bg_white_pc.png);
}

.logo_image{
  margin-bottom: 100px;
  width: 500px;

  @include mq(sm){
    width: 200px;
  }
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

#start{
  background-image:url(../image/bg_blue_pc.png);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  display: inline-block;
  padding: 32px 64px;
  background-color:$btn_color; /* 背景色 */
  box-shadow:$btn_shadow;/* 影の太さ・色 */
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;

  @include mq(sm){
    display: inline-block;
    padding: 16px 32px;
    background-color:$btn_color; /* 背景色 */
    box-shadow: 0px 5px 0px #C56A00;/* 影の太さ・色 */
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}

  .btn:active {
    box-shadow: none;
    transform: translateY(5px);
  }


/* ここからquiestion */

#quiestion{
  justify-content: center;
  margin-top: 30px;

  @include mq(sm){
    margin-top: 15px;
  }
}

#progress {
  align-items: center;
  background-color:$bg_color;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 20px;

  @include mq(sm){
    padding: 16px 16px 10px 16px;
  }
}

#progress-frac{
  color: $white;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.02em;

  @include mq(sm){
  margin-top: 5px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  }
}

#quiz-progress{
  width: 700px;
  height: 15px;
  left: 0px;
  top: 0px;

  @include mq(sm){
  width: 100%;
  height: 11px;
  left: 0px;
  top: 0px;
  }
}

#quiz-progress::-webkit-progress-bar {
  background-color:$progress_bg;
  border-radius: 10px;
}

#quiz-progress::-webkit-progress-value {
  background-color:$white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #006C9D;
}

#quiz-progress::-moz-progress-bar {
  background-color:$white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #006C9D;
}

#quiz-progress::-ms-fill {
  background-color:$white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #006C9D;
}

.logo_progress{
  margin:20px 0px 30px 0px;
  width: 200px;
  height: auto;

  @include mq(sm){
    margin:0px 0px 15px 0px;
    width: 88px;
    height: auto;
  }
}

.quiz_area{
  text-align: center;
  margin-bottom: 40px;

  @include mq(sm){
    text-align: left;
    margin-bottom: 15px;
    padding: 0px 16px;
  }
}

.quiz_area_2{
  display: inline-block;
  text-align: left;
}

.quiz_number{
  color: #222;
  opacity: 0.2;
  font-size: 16px;
}

#quiz-index{
  color: #222;
  opacity: 0.2;
  font-size: 16px;
}

.quiz_text{
  font-weight: 700;
  margin: 3px 0px;
  font-size: 40px;

  @include mq(sm){
    font-size: 20px;
    margin: 3px 0px 0px 0px;
  }
}

.contents{
    align-items: center;

    @include mq(sm){
      display: block;
      align-items: center;
      padding: 0px 16px;
    }
}

#choices-img1, #choices-img2{
  border-radius: 20px;
  border: 2px solid #DADADA;
  cursor: pointer;
  width: 500px;
  align-items: center;
  margin: 0px 5px;

  @include mq(sm){
    width: 100%;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
}

.contents_img{
  margin-right: auto;
}

// resultのページ
#result{
  align-items: center;

  @include mq(sm){
    padding: 0px 16px;
  }
}

#correct-img{
  border-radius: 20px;
  border: 2px solid #DADADA;
  width: 500px;
  height: 270px;
  border-radius: 20px;
  cursor: pointer;

  @include mq(sm){
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.img_sign{
  position: relative;
  text-align: center;
  margin: auto;
  width: 500px;
  height: 270px;

  @include mq(sm){
    width: 346px;
    height: 185px;
  }
}

.correct_sign{
  position: absolute;/*絶対配置*/
  color:$white;/*文字は白に*/
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background-color:#37D0AB;
  margin: auto;
  padding: 10px;
  border-radius: 20px 0px;
}

.uncorrect_sign{
  position: absolute;/*絶対配置*/
  color: $white;/*文字は白に*/
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background-color:#ED6182;
  margin: auto;
  padding: 10px;
  border-radius: 20px 0px;
}

.correct_sign,.uncorrect_sign{
  width: 50px;
  height: 50px;
}

.text_answer{
  margin-top: 12px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.02em;
  width: 50%;
  text-align: left;

  @include mq(sm){
  margin-top: 12px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  width: auto;
  text-align: left;
  }
}

.btn_next{
  margin-top: 40px;
  display: inline-block;
  padding: 20px 50px;
  background-color:$btn_color; /* 背景色 */
  box-shadow: 0px 8px 0px #C56A00;/* 影の太さ・色 */
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;

  @include mq(sm){
    margin-top: 32px;
    display: inline-block;
    padding: 16px 32px;
    background-color:$btn_color; /* 背景色 */
    box-shadow: 0px 5px 0px #C56A00;/* 影の太さ・色 */
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}

  .btn_next:active{
    box-shadow: none;
    transform: translateY(5px);
  }

#compare{
  margin-top: 20px;
  display: inline-block;
  padding: 16px 32px;
  background-color:$btn_gray; /* 背景色 */
  box-shadow: 0px 6px 0px #C9C9C9;/* 影の太さ・色 */
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;

  @include mq(sm){
    display: inline-block;
    padding: 8px 18px;
    background-color:$btn_gray; /* 背景色 */
    box-shadow: 0px 6px 0px #C9C9C9;/* 影の太さ・色 */
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}

.btn_group{
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

// ここからend_result
#end-result-circle {
  width: 250px;
  height: 250px;
  position: relative;

  @include mq(sm){
    width: 190px;
    height: 190px;
    position: relative;
  }
}

.end_result_area{
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(sm){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.end_result_top{
  background-color: $bg_color;
  height: 430px;
  border-radius: 0px 0px 20px 20px;
}

#thanks{
  color: $white;
  font-size: 20px;
  text-align: left;
  line-height: 29px;
  margin: 0px 30px;

  @include mq(sm){
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin: 30px 0px;
  }
}

#sns-link{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;

  @include mq(sm){
    margin-top: 30px;
  }
}

.share{
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;

  @include mq(sm){
    font-size: 16px;
    line-height: 16px;
  }
}

.sns_icon{
  width: 50px;
  height: 50px;
  margin: 15px 15px 0px 15px;
}

.circle_text{
  position: relative;
}

#correct-cnt{
  color: $score;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 35px;

  @include mq(sm){
    font-size: 24px;
  }
}

#correct-cnt::first-letter{
  font-weight: 900;
  font-size: 60px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin: 0px 5px;
}

.btn_onemore{
  display: inline-block;
  padding: 20px 50px;
  background-color:$btn_color; /* 背景色 */
  box-shadow: 0px 8px 0px #C56A00;/* 影の太さ・色 */
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 42px;

  @include mq(sm){
    display: inline-block;
    padding: 16px 32px;
    background-color:$btn_color; /* 背景色 */
    box-shadow: 0px 5px 0px #C56A00;/* 影の太さ・色 */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 32px;
  }
}

.trigger{
      text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
